@page
@model PrivacyModel
@{
    ViewData["Title"] = "O mnie";
}
<h1>@ViewData["Title"]</h1>
<div class="OutlineElement Ltr SCXW16581400 BCX2" style="direction: ltr;">
    <p class="Paragraph SCXW16581400 BCX2" style="font-weight: normal; font-style: normal; vertical-align: baseline; background-color: transparent; color: windowtext; text-align: right; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; text-indent: 0px;"><span class="TextRun SCXW16581400 BCX2" data-contrast="auto" lang="PL-PL" style="font-style: italic; font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; line-height: 19.425px;"><span class="NormalTextRun SCXW16581400 BCX2" style="background-color: inherit;">Wśr&oacute;d ludzi jest się także samotnym&nbsp;</span></span><span class="EOP SCXW16581400 BCX2" data-ccp-props='{"201341983":0,"335551550":3,"335551620":3,"335559739":160,"335559740":259}' style="font-size: 11pt; line-height: 19.425px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;">&nbsp;</span></p>
    <p class="Paragraph SCXW16581400 BCX2" style="font-weight: normal; font-style: normal; vertical-align: baseline; background-color: transparent; color: windowtext; text-align: right; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; text-indent: 0px;"><span class="TextRun SCXW16581400 BCX2" data-contrast="auto" lang="EN-GB" style="font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; line-height: 19.425px;"><span class="NormalTextRun SCXW16581400 BCX2" style="background-color: inherit;">Antoine de Saint-</span></span><span class="TextRun SCXW16581400 BCX2" data-contrast="auto" lang="EN-GB" style="font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; line-height: 19.425px;"><span class="NormalTextRun SCXW16581400 BCX2" style="background-color: inherit;">Exup&eacute;ry</span></span><span class="EOP SCXW16581400 BCX2" data-ccp-props='{"201341983":0,"335551550":3,"335551620":3,"335559739":160,"335559740":259}' style="font-size: 11pt; line-height: 19.425px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;">&nbsp;</span></p>
</div>
</br>
<img src="https://pixabay.com/get/55e2dc444253ac14f6da8c7dda35367b1c36d8e256567741_1280.jpg" class="center" />
</br>
</br>
<p>AS z urodzenia, choć świadomy dopiero po 30-tce. Chcę pozostać anonimowy...</p>

